<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="id" id="ngModel" [(ngModel)]="employeeService.selectedEmployee.id" />
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.Name"
                    placeholder="Enter full name" required />
                  <label>Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.Office"
                    placeholder="Enter office location" />
                  <label>Office :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="Salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.Salary"
                    placeholder="Salary per annum" />
                  <label>Salary :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">
                    Reset
                  </button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
            <div class="containerS">
              <input class="inputSearch" type="text" name="Name" #name="ngModel" [(ngModel)]="searchInput"
                placeholder="Enter The Name To Search" />
              <button (click)="searchInput=''"
                style=" color: white; margin: 6px; background-color: transparent; border: #fff 1px solid;"><i
                  class="material-icons">search</i></button>
            </div>
            <table class="responsive-table highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Office</th>
                  <th>Salary</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let emp of employeeService.employees">
                <ng-template [ngIf]="filterCondition(emp)">
                  <td>{{ emp.Name }}</td>
                  <td>{{ emp.Office }}</td>
                  <td>{{ emp.Salary }}</td>

                  <td>
                    <a class="action-btn" (click)="onEdit(emp)">
                      <i class="material-icons">edit</i>
                    </a>
                    <a class="action-btn" (click)="onDelete(emp.id, employeeForm)">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </ng-template>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>